.site-about-section {
  background-color: #1d1616;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about {
    border: 2px solid red;
    color: #1b88ca;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    max-width: 50rem;
    padding: 0 1rem;
    text-align: center;
  }
  .about h2 {
    font-size: 1.7rem;
    font-weight: 300;
    width: 90%;
  }
  .about p {
    font-size: medium;
  }
  
  .about-section-btn {
    background-color: #ffffff;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 1.5rem;
    font-weight: bold;
    padding: 0.8rem 3rem;
  }

