.cta-content {
    border: 10px solid purple;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}

.cta-button {
    border: 2px solid #707070;
    border-radius: 1.5rem;
    padding: 0.8rem 3rem;
    background-color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
}
