.carouselContainer {
}

.carouselMedia {
}

.homeCarousel {
  color: "#fff";
  line-height: 160px;
  text-align: center;
  background: #364d79;
  border: 3px solid black;
  overflow: hidden;
  width: 100%;
}
